header hgroup h1 {
	background : blue;
	font-family : sans-serif;
}

article p{
	color : green;
	background : red;
}

.news {

}

.news p {
	color : green;
}

footer p{ 
background : black;
color: white;
}

a {
	color :grey;
}

footer a:hover {
	color:black;
	background:white;
}